.App {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e0e10;
  color: #fff;
}

.logo {
  width: 20dvh;
  margin: 1dvh;
}

.purpleText {
  color: #9146ff;
}
